<h1>Stupid Coaching</h1>
<form action="answer" data-turbo="false" class="my-4">
  <input class="write" type="text" name="message">
  <input button type="submit" class="btn btn-primary" value="Ask!">
</form>
